html {
  color: brown;
  background-color: beige;
  font-family: 'Times New Roman', Times, serif;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  text-indent: 1em;
}

h1, h2, h3 {
  text-align: center;
  margin: 0.5em 0;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }

a {
  color: orangered;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: red;
}

a:visited{
  color:darkred;
  font-weight: normal;
}

abbr {
  font-variant: small-caps;
}


#zen-intro {
  text-align: center;
  height: 550px;
}

#zen-intro header {
  background-color: #2f303422;
  color: #adc2b8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#zen-intro header h1,#zen-intro header h2 {
  margin-left: 1em;
}

#zen-supporting {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}


.explanation {
  flex: 0 0 60%;
  border-right: 1px solid #1f295c;
  padding-right: 2%;
  box-sizing: border-box;
}


#design-selection {
  flex: 0 0 35%;
  padding-left: 2%;
  box-sizing: border-box;
}

#design-selection ul li {
  border-top: 1px solid brown;
  padding: 0.5em 0;
}

#design-selection ul li:last-child {
  border-bottom: 1px solid brown;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin: 1em;
  text-align: center;
}


#design-archives {
  display: none;
}


.main footer {
  background-color: #333;
  color: white;
  margin: 4%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.main footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}


#zen-participation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 0;
  border-top: none;
  border-bottom: 2px solid brown;
  gap: 1em;
}

#zen-participation h3 {
  flex: 1 1 100%;
  text-align: center;
  margin: 0;
}

#zen-participation p {
  flex: 1 1 50%;
  margin: 0;
  padding: 0 1em;
  line-height: 1.5;
}

#zen-benefits {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  border-top: 2px solid brown;
  border-bottom: none;
}

#zen-benefits p {
  flex: 0 0 70%;
  margin: 0;
  line-height: 1.5;
}

#zen-benefits h3 {
  flex: 0 0 30%;
  text-align: center;
  margin: 0;
}


#zen-explanation p, #zen-participation p {
  line-height: 1.5;
}

#zen-summary,#zen-preamble, #zen-requirements {
  width: 100%;
  padding: 1em 0;
  box-sizing: border-box;
}

#zen-explanation p:first-of-type::first-letter {
  font-size: 3em;
  font-family: 'Georgia', serif;
  float: left;
  line-height: 1;
  margin-right: 0.1em;
}

